{% extends "main.html" %}
{% block body %}
{% load static %}
        
        <div class="header-height"></div>

        <section class="blog-section bg-grey padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 sm-padding">
                        <div class="blog-items single-post row">
                            <img src="{{event.image.url}}" alt="blog post">
                            <h2>{{event.title}}</h2>
                            <p>{{event.description|safe}}</p>
                            <div class="share-wrap">
                                <h4>Share This Work</h4>
                                <div class="sharethis-inline-share-buttons"></div>
                            </div><!-- Share Wrap -->

                        </div>
                    </div><!-- Blog Posts -->
                </div>
            </div>
        </section><!-- /Blog Section -->

{% endblock body %}
