{% extends "main.html" %}
{% block body %}
{% load static %}
<body>

        <div class="header-height"></div>

        <section class="slider-section">
            <div class="slider-wrapper">
                <div id="main-slider" class="nivoSlider">
                    <img src={%static "img/slider-1.jpg"%} alt="" title="#slider-caption-1"/>
                    <img src={%static "img/slider-2.jpg"%} alt="" title="#slider-caption-2"/>
                    <img src={%static "img/slider-3.jpg"%} alt="" title="#slider-caption-3"/>
                </div><!-- /#main-slider -->

                <div id="slider-caption-1" class="nivo-html-caption slider-caption">
                    <div class="display-table">
                        <div class="table-cell">
                            <div class="container">
                               <div class="slider-text">
                                   <h5 class="wow cssanimation fadeInBottom">Join Us Today</h5>
                                   <h1 class="wow cssanimation leFadeInRight sequence">Better Life for People</h1>
                                    <p class="wow cssanimation fadeInTop" data-wow-delay="1s">Help today because tomorrow you may be the one who needs helping! <br>Forget what you can get and see what you can give.</p>
                                    <a href="{%url 'volunteer'%}" class="default-btn wow cssanimation fadeInBottom" data-wow-delay="0.8s">Join With Us</a>
                                    <a href="{%url 'contact'%}" class="default-btn wow cssanimation fadeInBottom" data-wow-delay="0.8s">Contact Us</a>
                                </div>
                           </div>
                        </div>
                    </div>
                </div> <!-- /#slider-caption-1 -->
                <div id="slider-caption-2" class="nivo-html-caption slider-caption">
                    <div class="display-table">
                        <div class="table-cell">
                            <div class="container">
                               <div class="slider-text">
                                    <h1 class="wow cssanimation fadeInTop" data-wow-delay="1s" data-wow-duration="800ms">Together we  <br>can make a Difference</h1>
                                    <p class="wow cssanimation fadeInBottom" data-wow-delay="1s">Help today because tomorrow you may be the one who needs helping! <br>Forget what you can get and see what you can give.</p>
                                    <a href="{%url 'volunteer'%}" class="default-btn wow cssanimation fadeInBottom" data-wow-delay="0.8s">Join With Us</a>
                                    <a href="{%url 'contact'%}" class="default-btn wow cssanimation fadeInBottom" data-wow-delay="0.8s">Contact Us</a>                     </div>
                           </div>
                        </div>
                    </div>
                </div> <!-- /#slider-caption-2 -->
                <div id="slider-caption-3" class="nivo-html-caption slider-caption">
                    <div class="display-table">
                        <div class="table-cell">
                            <div class="container">
                               <div class="slider-text">
                                    <h5 class="wow cssanimation fadeInBottom">Join Us Today</h5>
                                    <h1 class="wow cssanimation lePushReleaseFrom sequence" data-wow-delay="1s">Give a little. Change a lot.</h1>
                                    <p class="wow cssanimation fadeInTop" data-wow-delay="1s">Help today because tomorrow you may be the one who needs helping! <br>Forget what you can get and see what you can give.</p>
                                    <a href="{%url 'volunteer'%}" class="default-btn wow cssanimation fadeInBottom" data-wow-delay="0.8s">Join With Us</a>
                                    <a href="{%url 'contact'%}" class="default-btn wow cssanimation fadeInBottom" data-wow-delay="0.8s">Contact Us</a>
                                </div>
                           </div>
                        </div>
                    </div>
                </div> <!-- /#slider-caption-3 -->
            </div>
        </section><!-- /#slider-Section -->
        
        <section class="promo-section bd-bottom">
            <div class="promo-wrap">
               <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 xs-padding">
                            <div class="promo-content">
                                <div class="promoIcon"><img class="img-fluid" src={%static "img/examination.png"%} alt="prmo icon"></div>
                                <h3>Medical Wings</h3>
                                <p>Help today because tomorrow you may be the one who needs helping!</p>
                                <a href={%url 'medical'%}>Read More</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 xs-padding">
                            <div class="promo-content">
                                <div class="promoIcon"><img class="img-fluid" src={%static "img/edu.png"%} alt="prmo icon"></div>
                                <h3>Education Wings</h3>
                                <p>Help today because tomorrow you may be the one who needs helping! </p>
                                <a href="{%url 'education'%}">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 xs-padding">
                            <div class="promo-content">
                                <div class="promoIcon"><img class="img-fluid" src={%static "img/crisis.png"%} alt="prmo icon"></div>
                                <h3>Disaster Management</h3>
                                <p>Help today because tomorrow you may be the one who needs helping! </p>
                                <a href={%url 'disaster'%}>Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /Promo Section -->
        
        <section class="causes-section bg-grey bd-bottom padding">
            <div class="container">
                <div class="section-heading text-center mb-40">
                    <h2>Our Recent Activities</h2>
                    <span class="heading-border"></span>
                    <p>Help today because tomorrow you may be the one who <br> needs more helping!</p>
                </div>
                <div class="causes-wrap row">
                    {%for e in activity%}
                    <div class="col-md-4 mt-4 xs-padding">
                        <div class="causes-content">
                           <div class="causes-thumb">
                                <img src={{e.image.url}} alt="causes">
                                <a href="#" class="donate-btn">{{e.category}}</a>

                           </div>
                            <div class="causes-details">
                                <h3>{{ e.title }}</h3>
                                <p>{{ e.description |truncatechars:200|safe}}</p>
                                <a href="{% url 'details' uid=e.uid %}" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div><!-- /Causes-1 -->
                    {%endfor%}
                    <div class="col-12 d-flex justify-content-center align- items-center"><a href="{%url 'all'%}" class="default-btn mt-5 px-5">View All</a></div>
                </div>
            </div>
        </section><!-- /Causes Section -->

        <section class="campaigns-section bd-bottom position-relative overlay-video">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center flex-column align-items-center xs-padding">
                        <h1 class="mb-5 text-white">Let's Discover Us</h1>
                        <div class="video-wrap">
                            <!-- <img src={%static "img/video.jpg"%} alt="video"> -->
                            <div class="play">
                                <a class="img-popup" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=_IlLwfC2dNc"><i class="ti-control-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="about-section bd-bottom shape circle padding">
            <div class="section-heading text-center mb-40">
                <h2>Our Recent Events</h2>
                <span class="heading-border"></span>
                <p>Help today because tomorrow you may be the one who <br> needs more helping!</p>
            </div>
            <div class="container">
                <div class="row">
                   <!-- <div class="col-md-4 xs-padding">
                        <div class="profile-wrap">
                            <img class="profile" src="img/profile.jpg" alt="profile">
                            <h3>Jonathan Smith <span>CEO & Founder of Charitify.</span></h3>
                            <p>The secret to happiness lies in helping others. Never underestimate the difference YOU can make in the lives of the poor, the abused and the helpless.</p>
                            <img src="img/sign.png" alt="sign">
                        </div>
                    </div> -->
                    <div class="col-md-12 xs-padding">
                        <div class="about-wrap row justify-content-center">
                            {%for e in events%}
                            <div class="col-md-4 xs-padding">
                                <img src={{e.image.url}} alt="about-thumb">
                                <h3>{{e.title}}</h3>
                                <p>{{e.description|truncatechars:50|safe}}</p>
                                <a href="{% url 'event-detailss' uid=e.uid %}" class="default-btn">Read More</a>
                            </div>
                            {%endfor%}
                            <a href="{%url 'events'%}" class="default-btn mt-5 px-5">View All</a>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /Causes Section -->
        
        <!-- <section class="team-section bg-grey bd-bottom circle shape padding">
            <div class="container">
                <div class="section-heading text-center mb-40">
                    <h2>Meet Out Volunteers</h2>
                    <span class="heading-border"></span>
                    <p>Help today because tomorrow you may be the one who <br> needs more helping!</p>
                </div>
                <div class="team-wrapper row">
                    <div class="col-lg-6 sm-padding">
                        <div class="team-wrap row">
                            <div class="col-md-6">
                                <div class="team-details">
                                   <img src="img/team-1.jpg" alt="team">
                                    <div class="hover">
                                        <h3>Jonathan Smith <span>Communicator</span></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="team-details">
                                   <img src="img/team-2.jpg" alt="team">
                                    <div class="hover">
                                        <h3>Angelina Rose <span>Certified Reader</span></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="team-details">
                                    <img src="img/team-3.jpg" alt="team">
                                    <div class="hover">
                                        <h3>Taylor Swift <span>Event Creator</span></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="team-details">
                                   <img src="img/team-4.jpg" alt="team">
                                    <div class="hover">
                                        <h3>Michel Brown <span>Internet Specialist</span></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 sm-padding">
                        <div class="team-content">
                            <h2>Become a Volunteer?</h2>
                            <h3>Join your hand with us for a better life and beautiful future.</h3>
                            <p>The secret to happiness lies in helping others. Never underestimate the difference YOU can make in the lives of the poor, the abused and the helpless.</p>
                            <ul class="check-list">
                                <li><i class="fa fa-check"></i>We are friendly to each other.</li>
                                <li><i class="fa fa-check"></i>If you join with us,We will give you free training.</li>
                                <li><i class="fa fa-check"></i>Its an opportunity to help poor children.</li>
                                <li><i class="fa fa-check"></i>No goal requirements.</li>
                                <li><i class="fa fa-check"></i>Joining is tottaly free. We dont need any money from you.</li>
                            </ul>
                            <a href="#" class="default-btn">Join With Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        
        <section id="counter" class="counter-section">
		    <div class="container">
                <ul class="row counters">
                    <li class="col-md-3 col-sm-6 sm-padding">
                        <div class="counter-content">
                            <i class="ti-money"></i>
                            <h3 class="counter">85389</h3>
                            <h4 class="text-white">Money Donated</h4>
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-6 sm-padding">
                        <div class="counter-content">
                            <i class="ti-face-smile"></i>
                            <h3 class="counter">10693</h3>
                            <h4 class="text-white">Volunteers</h4>
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-6 sm-padding">
                        <div class="counter-content">
                            <i class="ti-user"></i>
                            <h3 class="counter">50177</h3>
                            <h4 class="text-white">People Impacted</h4>
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-6 sm-padding">
                        <div class="counter-content">
                            <i class="ti-comments"></i>
                            <h3 class="counter">669</h3>
                            <h4 class="text-white">Free Medical Camp</h4>
                        </div>
                    </li>
                </ul>
		    </div>
		</section><!-- Counter Section -->
       
        <section class="gallery-section bg-grey bd-bottom padding">
            <div class="container">
                <h2 class="text-center my-5">Gallery</h2>
                <!-- <div class="row">
                    <ul class="gallery-filter align-center mb-30">
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".branding">Branding</li>
                        <li data-filter=".design">Design</li>
                        <li data-filter=".wordpress">Wordpress</li>
                        <li data-filter=".marketing">Marketing</li>
                    </ul>
                </div> -->
                <div class="gallery-items row">

                    {%for all in all_images%}
                    <div class="col-lg-4 col-sm-6 single-item marketing design">

                        <div class="gallery-wrap">
                            <img src="{{all.image.url}}" alt="gallery">
                            <div class="hover">
                                <a class="img-popup" data-gall="{{all.image.url}}" href="img/gallery-6.jpg"><i class="ti-image"></i></a>
                            </div>
                        </div>

                    </div><!-- /Item-6 -->
                    {%endfor%}
                </div>
                <div class="col-12 d-flex justify-content-center align- items-center"><a href="/gallery" class="default-btn mt-5 px-5">See All</a></div>
            </div>
        </section>
        
        <section class="testimonial-section bd-bottom padding">
            <div class="container">
                <div class="section-heading text-center mb-40">
                    <h2>What People Say</h2>
                    <span class="heading-border"></span>
                    <p>Help today because tomorrow you may be the one who <br> needs more helping!</p>
                </div><!-- /Section Heading -->
                <div id="testimonial-carousel" class="testimonial-carousel owl-carousel">
                    {%for m in reviews %}
                    <div class="testimonial-item">
                        <p>{{m.description|safe|truncatechars:200}}</p>
                        <div class="testi-footer">
                           <img src={{m.image.url}} alt="profile">
                            <h4>Michel Brown <span>Programer</span></h4>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </section><!-- Testimonial Section -->
        

</body>
{% endblock body %}